
@import url("fonts.css");
@import url("reset.css");



body{
	background-color: white;
	font-family: "Causten", sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #333;
}
.wrapper{
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
.page {
	flex-grow: 1;
}
/*
.page{
	padding: 15px;
}
.h3{
	font-size: 20px;
	color: black;
	margin-bottom: 15px;
}
.block{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: inline-flex;
}
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-2{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
}
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-3{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: wrap;
}
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-4{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	justify-content: space-evenly;
}
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-5{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/*align-items: stretch;
	height: 200px;
	align-items: flex-start;
}*/
/*
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-6{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	height: 200px;
	flex-direction: column;
}
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-7{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	height: 200px;
	flex-direction: row-reverse;
}
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-8{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 200px;/*
	flex-direction: column;
	gap: 10px;
}*/
/*
.block__item{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block-9{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 200px;/*
	flex-direction: column;
	gap: 10px;
}
.block__item3{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
}
.block__item3:nth-child(3){
	align-self: stretch;
}
.block-10{
	background-color: green;
	border: 5px solid rgb(2, 41, 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 200px;/*
	flex-direction: column;
	gap: 10px;
}
.block__item4{
	font-size: 15px;
	font-weight: 700;
	background-color: #5d49b6;
	padding: 10px;
	text-align: center;
	border: 5px solid rgb(37, 37, 224);
flex-wrap: nowrap;
}
.block__item4:nth-child(2){
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 150px;
	order:4;
}
.block__item4:nth-child(1){
	order:3;
}
.block__item4:nth-child(3){
	order:2;
}
.block__item4:nth-child(4){
	order:6;
}
.block__item4:nth-child(5){
	order:1;
}
.block__item4:nth-child(6){
	order:1;
}
.container{
	max-width: 800px;
	margin: 0 auto;
	/*
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: goldenrod;
	overflow: hidden;
}
.columns-gap {
	background-color: rgb(35, 19, 19);
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px -20px -10px;
}
.columns-gap__column{
	/*
	background-color: violet;
	padding: 0px 10px 20px 10px;
	flex-basis: 33.333%;
	flex-grow: 1;
	flex-shrink: 1;
}
.columns-gap__item{
	background-color: green;
	padding: 15px;
}*/
============================================================
[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;

}
.page__cards{
	padding: 50px 0px;
}
.cards-title {
	margin-bottom: 70px;
}
.title{
	font-size: 34px;
	letter-spacing: 0.68px;
	line-height: 1.1;
	color: #3c4242;
	font-family: "Coresansc", sans-serif;
	position: relative;
	padding-left: 26px;
}

.title::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 30px;
	border-radius: 10px;
	background-color: #8a33fd;
}

.products {
	padding: 50px 0px;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -25px;
}
.products__column{
	padding: 0px 25px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
	margin-bottom: 50px;
}
.product__item{
	
}
.item-product{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}
.item-product__image{
	overflow: hidden;
	border-radius: 10px;

}

.item-product__image{
	max-width: 100%;
}
.item-product__image:not(:last-child){
	margin-bottom: 15px;

}
.item-product__image img:hover{
transform: scale(1.05);
}
.item-product__body{
	display: flex;
	flex-grow: 1;
}
.item-product__content{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.item-product__title{
	flex-grow: 1;
}
.item-product__title:not():last-child{
margin-bottom: 10px;
}
.item-product__link-title{
	
}

.item-product__text{
	color: #2A2F2F;
	font-family: Causten;
	font-size: 17.875px;
	font-style: normal;
	font-weight: 700;
	line-height: 156.25%;
	letter-spacing: -0.715px;
	}

.item-product__link{
	align-self: flex-start;
	min-height: 14px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 18px;
	background: url("../img/arrow.svg") center no-repeat;

}
.link {
	display: inline-flex;
	gap: 10px;
}
.link::before {
	content: "";
	flex-basis: 10px;
	/* Додаємо width */
	width: 10px;
	height: 10px;
	background-color: red;
}
.fogter{
	
}

